/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Merriweather';
  font-size: 0.70em;
}

main {
  width: 93%;
  margin: auto;
}

p {
  color: grey;
}


/*  ========Base Layout Styles======= */

.top-ban {
  background-image: url(../imgs/code-banner.png);
  background-size: contain;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  padding: 1em 0;
}

.sub-header {
  text-align: center;
  padding: 1em;
  border-bottom: 4px solid black;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {}
